body {
  background-color: #0d1117 !important;
  color: white !important;
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }
  
  #tarjeta-completa-jugador, #tarjeta-completa-jugador * {
    visibility: visible;
  }
  
  #tarjeta-completa-jugador {
    position: absolute;
    left: 0;
    top: 0;
    /* Forzamos el ancho y alto al 100% de la hoja */
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    
    /* Colores */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Aseguramos que el contenido interno también se expanda */
  #tarjeta-completa-jugador > div {
    width: 100% !important;
  }

  #boton-descarga-oculto {
    display: none !important;
  }
}